<!DOCTYPE html>
<html>
  <head>
    <title>Property</title>
  </head>
  <body>
    <h1>Property</h1>
    <p>ID: <%= data.idOportunidade %></p>
    <p>Title: <%= data.titulo %></p>
    <p><%= data.descricao %></p>
    <p><%= data.beneficios %></p>
    <p><%= data.vagas %></p>
    <p><%= data.dormitorios %></p>
    <p><%= data.suites %></p>
    <p><%= data.banheiros %></p>
    <p><%= data.caracteristicas %></p>
    <p><%= data.caracteristicasCondominio %></p>
    <p><%= data.logradouro %></p>
    <p><%= data.numeroResidencia %></p>
    <p><%= data.complementoEndereco %></p>
    <p><%= data.bairro %></p>
    <p><%= data.cidade %></p>
    <p><%= data.uf %></p>
    <p><%= data.midias %></p>
  </body>
</html>
